/* You can add global styles to this file, and also import other style files */
@import 'styles/variables';
@import 'styles/reset';
@import 'styles/theme';

body {
  background-color: $body-color;
}

shop-navbar {
  .navbar {
    padding: $app-padding;
  }
}

main {
  padding: $app-padding;
}
